/* Common styling */
*{
    font-family: 'Work Sans', sans-serif;    
}

body{
    margin: 0;
    padding: 0;
}

/* header */
.header{
    background-color: #FF900E1A;
    height: 30%;
}
 
/* navigation */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 220px;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    margin-left: 20px;
    font-size: 18px;
    font-weight: medium;
    line-height: 26px;
    color: #424242;
}

/* banner */
.banner{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner img{
    height: auto;
    align-items: center;
    margin-bottom: 30px;
}

/* fonts */
h1{
    font-size: 64px;
    font-weight: bold;
}

h2{
    font-size: 45px;
    font-weight: bold;
}

h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 23.46px;
    color: #131313;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

/* button styles */

.btn-1{
    width: 180px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin: 50px 0;
}

.btn-2{
    position: absolute;
    bottom: 10px;
    left: 710px;
    line-height: 10px;
    right: 60px;
    width: 342px;
    height: 200px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
}

#btn-ex{
    font-size: 25px;
    line-height: 0px;
}

/* main section */

.quick-lists{
    margin: 100px 200px;
    align-items: center;
    display: flex;
}

.list-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.list{
    margin-left: 75px;
}

#quick{
    font-size: 45px;
    font-weight: 500;
    color: #727272;
    line-height: 52.79px;
}

#feature{
    color: #FF900E;
}

.features{
    max-width: 80%;
    height: 1060px;
    margin-inline: auto;
    display: flex;
    position: relative;    
}

.feature-half-width h2{
    border-left: 5px solid #FF900E;
    margin: 20px;
    padding: 10px;
}

.feature-half-width img{
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* Card styles */
.card{
    height: 171px;
    width: 586px;
    border-radius: 8px;
    border: 2px solid whitesmoke;
    box-shadow:(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 20px;
    overflow: hidden;
}
.card-details{
    padding:0 30px;
}

.facts{
    margin-left: 100px;
    text-align: left;
}

.reward{
    margin: 100px;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.reward-card{
    width: 242px;
    height: 242px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 50px;
}

/* card hover and effects settings */
.reward-card:hover{
    transform: translate(80px, 0);
    transition: transform 530ms ease-in-out;
}

.sponsors{
    display: flex;
    margin: 130px 0px;
    
}

.sponsors-text{
    margin: auto;
    text-align: center;
    margin: 90px 140px;
}
.sponsors-img{
    display: flex;
    max-width: auto;
    justify-content:space-around;
    filter: grayscale(1);
    margin-bottom: 130px;
}

/* Footer */

footer{
    display: flex;
    margin: auto;
    height: 100px;
    margin-top: 100px;
    background-color: #FFF4E7;
    align-items: center;
    text-align: center;
}

/* Form part (bonus part) */

form .form1{
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
}

form input{
    margin: 10px;
    padding: 10px;
    background-color: whitesmoke;
    color: #FF900E;
    border-radius: 8px;
    font-weight: bold;

}

form input:focus{
    background-color: #ebb16fa1;
}


/*All media queries for mobile responsiveness */

@media screen and (max-width: 576px) {
    .header, nav, nav ul, .quick-lists, .features, .reward, .sponsors-img {
        flex-direction: column;
    }
    nav{
        margin: 0;
        text-align: center;
    }

    nav ul{
        padding-left: 0;
    }

    nav ul li{
        margin-left: 0;
    }
    .quick-lists{
        margin: 20px;
    }

    .cards, .card, .card-details, .feature-half-width, .feature-half-width img, .banner img, .sponsors-text{
        max-width: 100%;
    }
    .btn-2{
        display: none;
    }
    .list{
        margin: 0;
    }
    .list-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .facts{
        margin: 620px 0px 0px;
        text-align: center;
    }
    .sponsors-text{
        margin: 0px 100px;
    }

    .sponsors-img{
        max-width: fit-content;
        margin: auto;
    }
    
}